In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
data={
    'Name':['Parvez','Sajid','Ali','Hassan'],
    'ID':['202322240326','202322240327','202322240328','202322240329'],
    'Age':[23,24,22,21],
    'Dep':['CSE','CSE','CSE','CSE'],
    'CGPA':[4.28,4.25,4.20,4.30],
    'Country':['Bangladesh','Pakistan','India','Nepal'],
    'City':['Dhaka','Karachi','Delhi','Kathmandu'],
}

df=pd.DataFrame(data)
print(df)

     Name            ID  Age  Dep  CGPA     Country       City
0  Parvez  202322240326   23  CSE  4.28  Bangladesh      Dhaka
1   Sajid  202322240327   24  CSE  4.25    Pakistan    Karachi
2     Ali  202322240328   22  CSE  4.20       India      Delhi
3  Hassan  202322240329   21  CSE  4.30       Nepal  Kathmandu

In [18]:
import pandas as pd
csv_data =pd.read_csv(r"E:\Machine Learning\Machine-Learning\DataFiles\bank\bank-full.csv")

In [20]:
print(csv_data.head())
print(csv_data.tail())
print(csv_data.shape)
print(csv_data.info())
print(csv_data.describe())

  age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
0  58;"management";"married";"tertiary";"no";2143...
1  44;"technician";"single";"secondary";"no";29;"...
2  33;"entrepreneur";"married";"secondary";"no";2...
3  47;"blue-collar";"married";"unknown";"no";1506...
4  33;"unknown";"single";"unknown";"no";1;"no";"n...
      age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
45206  51;"technician";"married";"tertiary";"no";825;...
45207  71;"retired";"divorced";"primary";"no";1729;"n...
45208  72;"retired";"married";"secondary";"no";5715;"...
45209  57;"blue-collar";"married";"secondary";"no";66...
45210  37;"entrepreneur";"married";"secondary";"no";2...
(45211, 1)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 1 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"  45211 non-null  object
dtypes: object(1)
memory usage: 353.3+ KB
None
       age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
count                                               45211
unique                                              45211
top     58;"management";"married";"tertiary";"no";2143...
freq                                                    1

In [21]:
excel_data=pd.read_excel(r"E:\Machine Learning\Machine-Learning\DataFiles\bankloan_cs.xlsx")

In [23]:
print(excel_data.head())
print(excel_data.tail())
print(excel_data.shape)
print(excel_data.info())
print(excel_data.describe())

   branch  ncust  customer  age                            ed  employ  \
0       3   3017     10012   28            High school degree       7
1       3   3017     10017   64     Post-undergraduate degree      34
2       3   3017     10030   40  Did not complete high school      20
3       3   3017     10039   30  Did not complete high school      11
4       3   3017     10069   25  Did not complete high school       2

   address  income  debtinc  creddebt    othdebt default
0        2      44     17.7  2.990592   4.797408      No
1       17     116     14.7  5.047392  12.004608      No
2       12      61      4.8  1.042368   1.885632      No
3        3      27     34.5  1.751220   7.563780      No
4        2      30     22.4  0.759360   5.960640     Yes
      branch  ncust  customer  age                            ed  employ  \
1495      91   3779    453471   34                  Some college       8
1496      91   3779    453578   37            High school degree      10
1497      91   3779    453686   25     Post-undergraduate degree       0
1498      91   3779    453698   34  Did not complete high school      10
1499      91   3779    453777   27  Did not complete high school       2

      address  income  debtinc  creddebt   othdebt default
1495        4      83     11.0  1.853390  7.276610      No
1496        8      43      3.6  0.806508  0.741492      No
1497        3      16      3.2  0.288256  0.223744      No
1498        8      41     14.5  1.194945  4.750055      No
1499        2      24      5.8  0.555408  0.836592      No
(1500, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   branch    1500 non-null   int64
 1   ncust     1500 non-null   int64
 2   customer  1500 non-null   int64
 3   age       1500 non-null   int64
 4   ed        1500 non-null   object
 5   employ    1500 non-null   int64
 6   address   1500 non-null   int64
 7   income    1500 non-null   int64
 8   debtinc   1500 non-null   float64
 9   creddebt  1500 non-null   float64
 10  othdebt   1500 non-null   float64
 11  default   1500 non-null   object
dtypes: float64(3), int64(7), object(2)
memory usage: 140.8+ KB
None
            branch        ncust       customer          age       employ  \
count  1500.000000  1500.000000    1500.000000  1500.000000  1500.000000
mean     52.200000  3478.066667  257714.548000    34.174000     6.952000
std      27.928719   864.710980  139555.147719    13.142306     8.977644
min       3.000000  1919.000000   10012.000000    18.000000     0.000000
25%      20.000000  2658.000000   98638.750000    24.000000     0.000000
50%      64.000000  3491.000000  315991.500000    31.000000     4.000000
75%      75.000000  4358.000000  370701.500000    42.000000    10.000000
max      91.000000  4809.000000  453777.000000    79.000000    63.000000

           address       income      debtinc     creddebt      othdebt
count  1500.000000  1500.000000  1500.000000  1500.000000  1500.000000
mean      6.305333    59.588667     9.929333     1.934922     3.844308
std       6.047740    67.130160     6.671884     2.973989     5.333428
min       0.000000    12.000000     0.000000     0.000000     0.000000
25%       2.000000    27.000000     4.800000     0.423225     1.106986
50%       5.000000    40.000000     8.500000     0.986076     2.214072
75%       9.000000    64.000000    13.525000     2.202150     4.573312
max      34.000000  1079.000000    40.700000    35.972690    63.472640

In [28]:

from pandas import json_normalize
import json
Json_data=pd.read_json(r"E:\Machine Learning\Machine-Learning\DataFiles\apple_music_th.json")
print(Json_data.head())
print(Json_data.tail())
print(Json_data.shape)
print(Json_data.info())
print(Json_data.describe())

                                                        feed
title                                              Top Songs
id         https://rss.itunes.apple.com/api/v1/th/apple-m...
author     {'name': 'iTunes Store', 'uri': 'http://wwww.a...
links      [{'self': 'https://rss.itunes.apple.com/api/v1...
copyright   Copyright © 2018 Apple Inc. All rights reserved.
                                                        feed
copyright   Copyright © 2018 Apple Inc. All rights reserved.
country                                                   th
icon                     http://itunes.apple.com/favicon.ico
updated                        2019-07-11T01:45:44.000-07:00
results    [{'artistName': 'Shawn Mendes & Camila Cabello...
(9, 1)
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, title to results
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   feed    9 non-null      object
dtypes: object(1)
memory usage: 144.0+ bytes
None
             feed
count           9
unique          9
top     Top Songs
freq            1

In [31]:
with open(r"E:\Machine Learning\Machine-Learning\DataFiles\bank\bank-names.txt", "r") as file:
    bank_names = file.readlines()
for line in bank_names[:5]:
    print(line)

Citation Request:

  This dataset is public available for research. The details are described in [Moro et al., 2011].

  Please include this citation if you plan to use this database:



  [Moro et al., 2011] S. Moro, R. Laureano and P. Cortez. Using Data Mining for Bank Direct Marketing: An Application of the CRISP-DM Methodology.

In [35]:
import os
import glob

files = glob.glob(r"E:\Machine Learning\Machine-Learning\DataFiles\bank\bank.csv")
for file in files:
    df = pd.read_csv(file)
    print(f"Loaded {file} with {df.shape[0]} rows")

Loaded E:\Machine Learning\Machine-Learning\DataFiles\bank\bank.csv with 4521 rows

| File Type | Method                                | Why it matters                      |
| --------- | ------------------------------------- | ----------------------------------- |
| CSV       | `pd.read_csv()`                       | Most common for tabular data        |
| Excel     | `pd.read_excel()`                     | Used in business/reporting          |
| JSON      | `pd.read_json()` + `json_normalize()` | For APIs and nested data            |
| SQL       | `pd.read_sql()`                       | For structured database access      |
| Parquet   | `pd.read_parquet()`                   | Fast, compressed data for big tasks |
| Text/Logs | `open()` or NLP libs                  | Raw data, logs, and NLP input       |